body.route-detalle-producto .img-fondo {
  background-image: url('../images/samu4k.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
}

.route-detalle-producto .wrapper {
  width: 100%;
  padding-bottom: 40px;
}

.contenedor-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin: 20px auto;
  flex-wrap: wrap;
  max-width: 1100px;
}

.cajilla-box,
.cajilla2-box {
  background-color: #7593d4;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
}

.cajilla-box {
  flex: 1 1 350px;
  max-width: 450px;
  min-height: 450px;
}

.cajilla-box img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.cajilla2-box {
  flex: 1 1 350px;
  max-width: 480px;
  min-height: 450px;
}

.container h3 {
  color: #fff;
  text-align: center;
  margin-top: 40px;
}

.card {
  background-color: #fff;
  border: none;
}

.card-body {
  color: #000;
}
